* {
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
}

body {
	overflow: hidden;
}

i, em {
	font-style: normal;
}

.left {
	float: left
}

.right {
	float: right
}

.app,
.app-page,
.app-container {
	height: 100%
}

.app-page,
.app-container {
	overflow: hidden
}

.app {
	position: absolute;
	width: 200%;
	left: 0;
	top: 0
}

.app-page {
	float: left;
	width: 50%;
	position: relative;
}

.app-page .app-container {
	background-repeat: repeat;
	background-size: 100% 100%;
}

.app-page .app-container h1 {
	color: #56E4FF;
	text-align: center;
	margin-top: 20px;
}

.page-home {
	display: block !important;
}

.page-home .app-container {
	background-image: url("../img/bg-main.png");
}

.page-water .app-container {
	background-image: url("../img/bg-01.png");
}

.page-faceId .app-container {
	background-image: url("../img/bg-04.png");
}

.page-guest .app-container {
	background-image: url("../img/bg-05.png");
}

.page-elevator .app-container {
	background-image: url("../img/bg-06.png");
}

.page-element .app-container,
.page-alarm .app-container,
.page-traffic .app-container,
.page-hvac .app-container {
	background-image: url("../img/bg-07.png");
}

.page-park .app-container {
	background-image: url("../img/bg-08.png");
}

.page-back {
	width: 60px;
	height: 48px;
	background: url("../img/icon-back.png") no-repeat;
	position: absolute;
	left: 40px;
	top: 20px;
	opacity: .6;
}

.page-back:hover {
	opacity: 1;
}

/*
	home box
*/

.ui-box {
	width: 200px;
	line-height: 50px;
	text-align: center;
	color: #fff;
	font-size: 20px;
	border: 1px solid #56E4FF;
	background: rgba(9, 162, 221, .4);
	position: absolute;
}

.ui-box:before {
	width: 40px;
	height: 40px;
	margin-left: -20px;
	margin-top: 20px;
	position: absolute;
	left: 50%;
	top: 100%;
}

.ui-box a,
.ui-box p {
	display: inline-block;
	cursor: pointer;
}

.ui-box a {
	color: #fff;
	text-decoration: none;
}

.ui-box a:hover {
	color: #00FFE5;
}

.ui-box.v9 a {
	cursor: default;
}

.ui-box p {
	min-width: 24px;
	line-height: 30px;
	padding: 0 10px;
	color: #00FFE5;
	border-radius: 5px;
	background: rgba(1, 10, 85, 0.3);
}

.ui-box.v1 {
	left: 36%;
	top: 10px;
}

.ui-box.v2 {
	left: 28%;
	top: 80px;
}

.ui-box.v3 {
	left: 34%;
	top: 45%;
}

.ui-box.v4 {
	left: 44%;
	top: 70%;
}

.ui-box.v5 {
	left: 44%;
	top: 80%;
}

.ui-box.v6 {
	left: 20%;
	top: 72%;
	animation: movement 5s ease-in-out infinite alternate;
	-moz-animation: movement 5s ease-in-out infinite alternate; /* Firefox */
	-webkit-animation: movement 5s ease-in-out infinite alternate; /* Safari and Chrome */
}

.ui-box.v7 {
	left: 15%;
	top: 91%;
}

.ui-box.v8 {
	left: 23%;
	top: 78%;
}

.ui-box.v9 {
	left: 65%;
	top: 58%;
}

.ui-box.v1:before {
	content: '';
	background: url("../img/icon-4.svg") no-repeat center;
}

.ui-box.v2:before {
	content: '';
	background: url("../img/icon-5.svg") no-repeat center;
}

.ui-box.v3:before {
	content: '';
	background: url("../img/icon-6.svg") no-repeat center;
}

.ui-box.v6:before {
	content: '';
	background: url("../img/icon-red.png") no-repeat center;
	width: 29px;
	height: 58px;
	left: 120%;
	top: -20px;
}

.ui-box.v8:before,
.ui-box.v9:before {
	content: '';
	background: url("../img/icon-7.svg") no-repeat center;
	width: 129px;
	height: 58px;
	left: 50%;
	transform: translateX(-36%);
	animation: ellipse 2s ease-out infinite alternate;
	-moz-animation: ellipse 2s ease-out infinite alternate; /* Firefox */
	-webkit-animation: ellipse 2s ease-out infinite alternate; /* Safari and Chrome */
}

.icon:after {
	content: ' ';
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 10px;
}

.icon.icon-top:after {
	border-color: transparent transparent rgba(86, 228, 255, 0.6) transparent;
	position: absolute;
	left: 50%;
	top: 100%;
}

.icon.icon-down:after {
	margin-left: -10px;
	border-color: rgba(86, 228, 255, 0.6) transparent transparent transparent;
	position: absolute;
	left: 50%;
	top: 100%;
}

.icon.icon-left:after {
	border-color: transparent rgba(86, 228, 255, 0.6) transparent transparent;
	position: absolute;
	left: -20px;
	top: 15px;
}

.icon.icon-right:after {
	border-color: transparent transparent transparent rgba(86, 228, 255, 0.6);
	position: absolute;
	left: 100%;
	top: 15px;
}

@keyframes movement {
	0% {
		transform: translate(5px, 0px);
		-ms-transform: translate(5px, 0px);
		-webkit-transform: translate(5px, 0px);
		-moz-transform: translate(5px, 0px);

	}
	100% {
		transform: translate(0px, -160px);
		-webkit-transform: translate(0px, -160px);
		-moz-transform: translate(0px, -160px);
	}
}

@keyframes ellipse {
	0% {
		opacity: 0;
	}
	20% {
		opacity: .2;
	}
	40% {
		opacity: .4;
	}
	60% {
		opacity: .6;
	}
	80% {
		opacity: .8;
	}
	100% {
		opacity: 1;
	}
}

/*
	hvac
*/
.ui-hvac {
	width: 50px;
	height: 50px;
	background-color: #B4B4B4;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 30px;
	box-shadow: 0 0 4px #818181;
	position: absolute;
}

.ui-hvac.v1 {
	left: 610px;
	top: 120px;
	background-image: url("../img/icon-1.svg");
}

.ui-hvac.v2 {
	left: 940px;
	top: 118px;
	background-image: url("../img/icon-1.svg");
}

.ui-hvac.v3 {
	left: 1290px;
	top: 118px;
	background-image: url("../img/icon-1.svg");
}

.ui-hvac.v4 {
	left: 455px;
	top: 505px;
	font-size: 14px;
	background-image: url("../img/icon-2.svg");
}

.ui-hvac.v5 {
	left: 655px;
	top: 505px;
	font-size: 14px;
	background-image: url("../img/icon-2.svg");
}

.ui-hvac.v6 {
	left: 1050px;
	top: 505px;
	font-size: 14px;
	background-image: url("../img/icon-2.svg");
}

.ui-hvac.v7 {
	left: 1255px;
	top: 505px;
	font-size: 14px;
	background-image: url("../img/icon-2.svg");
}

.ui-hvac.v8 {
	left: 550px;
	top: 805px;
	font-size: 14px;
	background-image: url("../img/icon-3.svg");
}

.ui-hvac.v9 {
	left: 1185px;
	top: 800px;
	font-size: 14px;
	background-image: url("../img/icon-3.svg");
}

.ui-hvac > div,
.ui-hvac > p {
	min-width: 100px;
	text-align: center;
	background-color: rgba(231, 234, 236, 0.8);
	transition: ease-out all .3s;
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
}

.ui-hvac:hover > div,
.ui-hvac:hover > p {
	left: 100%;
	opacity: 1;
}

.ui-hvac > p {
	line-height: 50px;
}

.ui-hvac > div {
	height: 50px;
}

.ui-hvac > div p {
	line-height: 25px;
}

.ui-hvac > div p:last-child {
	color: #ff6e00;
}

.ui-hvac.v7 > div,
.ui-hvac.v8 > div,
.ui-hvac.v9 > div {
	width: 200px;
	background-color: rgba(231, 234, 236, .9);
}